
.head {
	margin: 2px;
  overflow: hidden;
  background-color: white;

  
}

#left-nav{
   float: left;
   display: flex;
   align-items: baseline;

}

#left-nav li{
  display: inline;
  justify-content: center;
  margin: 5px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

#left-nav li input {
  display: inline-block;
  float: left;
  padding-top: 0;
  width: 400px;
  height: 30px;
}

#left-nav li img {
  padding-bottom: 0;
  width: 120px;
  height: 40px;
}

#right-nav{
  float: right;
}

#right-nav li{
display: inline-block;
margin: 1px;
}


ul li{
list-style-type: none;
}



.warpper {
  margin: 5px;
  background-color: white;
  padding-left: 0;
  margin-left: 150px;

}

nav ul {
  font-family: all;
  font-size: 15px;
  font-color:black;
  list-style-type: none;
  padding: 0;

}
nav a{
  text-decoration :none;
  padding: 8px;
}

nav img{
  width: 20px;
  height: 20px;
}

nav a.hover{

  background-color: black;

}


@media screen and (min-width: 700px){

  nav ul{
    display: flex;
  }

  nav  a img {
    align-items: baseline;
  }
}

hr {
  background-color: #EFEEEE;
  width: 100%;
}


.contant{
  padding-left: 150px;
  margin: 2px;
}

.result{
  padding-top: 10px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: #EFEEEE;
   
}

.footer a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

